html, body  {
    background: linear-gradient(#e66465, #9198e5);
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    margin: 0%;
}

div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between
}

img {
    width: 350px;
    height: 250px;
    margin: auto;
}

.title {
    color: white;
    text-align: center;
    font-size: 64px;
    font-style: italic;
    box-sizing: border-box;
}
